@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, seja bem vindo!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Nesse aplicativo você poderá adicionar seus contatos!</a>.</p>
</div>
