@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Localize sua resiência:</h1>
    <p>Insira seu CEP</p>
</div>


<form action="">
    CEP:<br>
    <input type="text" class="form-control" name="cep" value="">
    <br>
    Endereço:<br>
    <input type="text" class="form-control" name="endereço" value="">
    <br>
    Bairro:<br>
    <input type="text" class="form-control" name="bairro" value="">
    <br>
    Cidade:<br>
    <input type="text" class="form-control" name="cidade" value="">
    <br>
    Estado:<br>
    <input type="text" class="form-control" name="estado" value="">
    <br>
</form>